# Build outputs
*.out
*.exe
*.bin
output.h

# Jupyter
.ipynb_checkpoints/
*.ipynb
Eigen/

# Python cache
__pycache__/
*.pyc

# Node.js
node_modules/

# Project-specific folders
data_cleaning/
extras/
pandas/

# Specific file
perceptron.h